{% set entite = entity.getInstance %}
{% if entite.getFkUtilisateur is not null %}
    {% set personneReservation = entite.getFkUtilisateur %}
    {% if field.value is iterable %}
        {{ field.formattedValue }}
    {% else %}
        {% if field.property == "nombre_couverts" %}{{ personneReservation.getNombreConvives }}{% endif %}
        {% if field.property == "nom_prenom" %}{{ personneReservation.getNomComplet }}{% endif %}
    {% endif %}
{% else %}
    {% set personneReservation = entite.getFkVisiteur %}
    {% if field.value is iterable %}
        {{ field.formattedValue }}
    {% else %}
        {% if field.property == "nombre_couverts" %}{{ personneReservation.getNombreConvives }}{% endif %}
        {% if field.property == "nom_prenom" %}{{ personneReservation.getNomComplet }}{% endif %}
    {% endif %}
{% endif %}
{#{% set nomPrenom = "" %}#}
{#{% if entity.getInstance.getFkUtilisateur is not null %}
    {% set nomPrenom = entity.getInstance.getFkUtilisateur.getNomPrenomUtilisateur %}
{% else %}
    {% set nomPrenom = entity.getInstance.getNomPrenomVisiteur %}
{% endif %}#}
{#<span title="{{ nomPrenom }}">{{ nomPrenom }}</span>#}